n8n automation LinkedIn Job.json
{
  "name": "LinkedIn Job",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ee96b588-2317-45c1-9fea-8e470cea51b3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items?token=apify_api_kwZpyNJ5GhWjdUv1bW0hNHUDrLa0EJ27PI7B",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"count\": 100,\n    \"scrapeCompany\": true,\n    \"urls\": [\n        \"https://www.linkedin.com/jobs/search/?currentJobId=4308729773&distance=25.0&f_TPR=r86400&geoId=100459316&keywords=business%20analyst&origin=JOB_SEARCH_PAGE_JOB_FILTER\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "a3d03af0-d461-4b0a-ba40-7b24cf07901d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "02b07bbb-30c8-42bb-b58b-ca148e14c98d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "4134f4e3-d28a-4cad-b1eb-48185a44acc2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.descriptionText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# GOAL:\nExtract and categorize all technologies, tools, software, platforms, frameworks, technical concepts, and certificates from a given job description, and always return a complete JSON object with every field — even if some are empty.\n\n# INSTRUCTIONS:\n1. Read the full job description carefully.\n2. Identify and classify each technical keyword or concept into the correct category below.\n3. If a category has no relevant items, return an empty list for that key.\n4. Exclude soft skills, languages, or degrees unless they are specific certifications.\n5. The output must be a valid JSON object with all seven fields exactly as shown below.\n6. Use lowercase keys and plural list values.\n7. Do not add commentary, explanations, or text outside the JSON block.\n\n# CATEGORIES DEFINITION:\n- technologies: general technologies or domains (e.g., cloud, IoT, AI, Big Data, automation, cybersecurity)\n- tools: specific utilities or productivity/analysis tools (e.g., Power BI, Excel, Tableau, Jira)\n- software: enterprise or packaged systems (e.g., SAP, Oracle Fusion, Microsoft D365)\n- platforms: ecosystems or service environments (e.g., AWS, Azure, Google Cloud Platform)\n- frameworks: structured methodologies or architectures (e.g., TOGAF, ArchiMate, Django, React)\n- technical_concepts: processes, methodologies, or approaches (e.g., data modeling, digital transformation, solution architecture)\n- certificates: required or preferred certifications (e.g., PMP, AWS Certified, TOGAF, BPMN)\n\n# OUTPUT FORMAT:\n{\n  \"technologies\": [],\n  \"tools\": [],\n  \"software\": [],\n  \"platforms\": [],\n  \"frameworks\": [],\n  \"technical_concepts\": [],\n  \"certificates\": []\n}\n\n# EXAMPLE INPUT:\n(Job description text provided by the user)\n\n# EXAMPLE OUTPUT:\n{\n  \"technologies\": [\"cloud\", \"IoT\", \"Big Data\", \"automation\", \"cybersecurity\"],\n  \"tools\": [],\n  \"software\": [\"Oracle Fusion\", \"Microsoft D365\", \"Primavera\", \"Oracle HCM\", \"Autodesk\"],\n  \"platforms\": [\"cloud-based solutions\", \"IoT platforms\", \"enterprise systems platforms\"],\n  \"frameworks\": [\"BPMN\", \"TOGAF\", \"ArchiMate\"],\n  \"technical_concepts\": [\"digital transformation\", \"digital analysis\", \"enterprise systems architecture\", \"solution development\", \"delivery methodology\"],\n  \"certificates\": [\"BPMN\", \"TOGAF\", \"ArchiMate\"]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        848,
        16
      ],
      "id": "330c8b81-7b37-43a1-acd9-46b4be1100e0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        240
      ],
      "id": "2e737e78-b2cc-4225-85a0-58238b56703e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1Ik73snorAFqnZIW",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PrGjWb2XBe_xF1i5vKddaIOSOPtmfAmyrCVqZx2iycQ",
          "mode": "list",
          "cachedResultName": "JobData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PrGjWb2XBe_xF1i5vKddaIOSOPtmfAmyrCVqZx2iycQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PrGjWb2XBe_xF1i5vKddaIOSOPtmfAmyrCVqZx2iycQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Split Out').item.json.id }}",
            "link": "={{ $('Split Out').item.json.jobPosterProfileUrl }}",
            "title": "={{ $('Split Out').item.json.title }}",
            "companyName": "={{ $('Split Out').item.json.companyName }}",
            "location": "={{ $('Split Out').item.json.location }}",
            "postedAt": "={{ $('Split Out').item.json.postedAt }}",
            "descriptionText": "={{ $('Split Out').item.json.descriptionText }}",
            "employmentType": "={{ $('Split Out').item.json.employmentType }}",
            "companyWebsite": "={{ $('Split Out').item.json.companyWebsite }}",
            "seniorityLevel": "={{ $('Split Out').item.json.seniorityLevel }}",
            "jobFunction": "={{ $('Split Out').item.json.jobFunction }}",
            "technologies": "={{ $json.output.technologies }}",
            "tools": "={{ $json.output.tools }}",
            "software": "={{ $json.output.software }}",
            "platforms": "={{ $json.output.platforms }}",
            "frameworks": "={{ $json.output.frameworks }}",
            "technical_concepts\"": "={{ $json.output.technical_concepts }}",
            "certificates": "={{ $json.output.certificates }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postedAt",
              "displayName": "postedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descriptionText",
              "displayName": "descriptionText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employmentType",
              "displayName": "employmentType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "jobFunction",
              "displayName": "jobFunction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seniorityLevel",
              "displayName": "seniorityLevel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "technologies",
              "displayName": "technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tools",
              "displayName": "tools",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "software",
              "displayName": "software",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "platforms",
              "displayName": "platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "frameworks",
              "displayName": "frameworks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "technical_concepts\"",
              "displayName": "technical_concepts\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "certificates",
              "displayName": "certificates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1264,
        0
      ],
      "id": "2162f153-b23a-48fe-b4b6-17020e53468c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GyjJ1EnGI1C5Jkol",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"technologies\": [\"digital transformation\", \"analytics\", \"automation\", \"digital connectivity\", \"IoT\", \"cloud\", \"Big Data\", \"cybersecurity\", \"mobile\"],\n  \"tools\": [\"analytics tools\", \"automation tools\", \"reporting tools\", \"data visualization tools\"],\n  \"software\": [\"Oracle Fusion\", \"Microsoft D365\", \"Primavera\", \"Oracle HCM\", \"Autodesk\"],\n  \"platforms\": [\"cloud platforms\", \"IoT platforms\", \"enterprise systems platforms\"],\n  \"frameworks\": [\"BPMN\", \"TOGAF\", \"ArchiMate\"],\n  \"technical_concepts\": [\"digital analysis\", \"digitalisation blueprint\", \"roadmap setup\", \"enterprise systems architecture\", \"reporting and analytics processes\", \"digital solutions architecture\", \"solution development\", \"benefits planning\", \"return on investment estimation\", \"cost estimation\", \"project life cycle\", \"large multinational enterprise transformation\", \"delivery methodology\"],\n  \"certificates\": [\"BPMN\", \"TOGAF\", \"ArchiMate\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        224
      ],
      "id": "a08351e5-7ff9-4707-b81a-c07a7eb997d8",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa0d155c-c15c-4d2a-b22f-aeb688e21d0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48165ca0bfa61ac542b7e50ef86a7b6e10ba5696057b6c058e065467a33f8e66"
  },
  "id": "lcU4ajwBHJIOFAmS",
  "tags": []
}